body {
    font-family: 'Space Grotesk', sans-serif;
    color: #cbd5e1;
    background-color: #020617;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.custom-glass {
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(16px);
}

.neon-shadow-primary {
    box-shadow: 0 0 15px rgba(25, 135, 84, 0.4);
}

.custom-hover {
    transition: color 0.3s, background-color 0.3s;
}

.custom-hover:hover {
    color: #198754 !important;
    background-color: rgba(25, 135, 84, 0.05);
    border-radius: 0.5rem;
}

.custom-hover-danger {
    transition: color 0.3s;
}

.custom-hover-danger:hover {
    color: #dc3545 !important;
}

.custom-poster-container {
    transition: all 0.3s;
}

.custom-poster {
    filter: grayscale(80%);
    transition: all 0.3s;
}

.custom-table-row {
    transition: background-color 0.2s;
}

.custom-table-row:hover {
    background-color: rgba(25, 135, 84, 0.08) !important;
}

.custom-table-row:hover .custom-poster-container {
    box-shadow: 0 0 0 2px rgba(25, 135, 84, 0.4);
}

.custom-table-row:hover .custom-poster {
    filter: grayscale(0%);
}

.custom-active-nav {
    border-radius: 0 !important;
}
